*{
    margin: 0 auto;
    text-align: center;
}
div{
    width:50vw;
    height: 50vh;
    /* display:flex;
    flex-direction: column; */
    /* border: 1px solid black; */
}
p{
    border: 1px solid black;
}
#p1,#p2,#p3,#p4{
    float: left;
}
#p4{
    height: 38vh;
    line-height: 300px;
}
#pt1{
    height:38vh;
    background-image: url("다운로드.jpg");
    background-size: cover;
    opacity: 0.45;
}
#p2{
    padding-right:38px;
}